<template name="login">
  {{#if loggingIn}}
    Logging you in...
  {{else}}
  <p class='text-center'>
    If you don't have an account, this will be your new account email and password.
  </p>
  <div style="max-width: 300px; margin: 0 auto;">
    <div class="margin">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input required type="text" id="email" placeholder="Email" class="form-control" autofocus>
      </div>
    </div>
    <div class="margin">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
        <input required type="password" id="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="text-center text-danger">
      {{$.Session.get 'loginErrorText'}}
    </div>
    <div class="text-center margin">
      <button id="submit" class="btn btn-info btn-lg">
        Login <i class="fa fa-chevron-circle-right"></i>
      </button>
    </div>
    <div class='text-center margin'>
      <button class='btn btn-info' id='fb-login'>Login with Facebook</button>
    </div>
  </div>
  {{/if}}
</template>
