<template name="addMovie">
  <div class="text-center">
    <form>
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
        <input required id="name" type="text" autocomplete="off" class="form-control" placeholder="New Movie Name">
        <input id="trailer_URL" type="text" autocomplete="off" class="form-control" placeholder="YouTube ID">
        <div>
          <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Movie</button>
        </div>
      </div>
    </form>
  </div>
</template>
