<template name="race">
  <div class="margin">
    <a href="/races" class="btn btn-default"><i class="fa fa-chevron-circle-left"></i> All races</a>

    <div class="pull-right">
      {{#if race.isVotingClosed}}
        <button class="btn btn-warning change-race-status"><i class="fa fa-unlock"></i> Unlock Voting</button>
      {{/if}}
      {{#unless race.isVotingClosed}}
        <button class="btn btn-warning change-race-status"><i class="fa fa-lock"></i> Lock Voting</button>
      {{/unless}}
    </div>
  </div>

  <h2 class="text-center">{{race.name}}</h2>

  <h3>
    {{#if race.isVotingClosed}}
      <span class="text-danger"><i class="fa fa-lock"></i> Voting Locked</span>
    {{/if}}
    {{#unless race.isVotingClosed}}
      <span class="text-success"><i class="fa fa-unlock"></i> Voting Open</span>
    {{/unless}}
  </h3>

  {{#if race.declaredWinnerAt}}
    <p class="text-center">Declared {{$momentCalendar race.declaredWinnerAt}}</p>
  {{/if}}

  <div class="row">
    {{#each getContenders race._id}}
      <div class="col-sm-offset-1 col-sm-4">
        <div class="panel {{#if this.isWinner}}panel-primary{{/if}} {{#unless this.isWinner}}panel-default{{/unless}}">
          <div class="panel-heading">
            {{#if this.isWinner}}
              <i class="fa fa-trophy"></i>
            {{/if}}
            {{this.name}}
            {{#if currentUser.isAdmin}}
              <div class="pull-right">
                {{#if this.isWinner}}
                  <a href="#" class="deselect-winner" style="color: #eee;">Undo Winner</a>
                {{/if}}
                {{#unless this.isWinner}}
                  <a href="#" class="select-winner text-primary">Make Winner</a>
                {{/unless}}
                <span class="delete fa fa-close"></span>
              </div>
            {{/if}}
            {{> moviePartial movie=this.movie showTrailer=true}}
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{#if currentUser.isAdmin}}
    <div style="margin-top: 3em;">
      {{> addNominee}}
    </div>

    <div class="col-xs-12 text-center" style="margin-top: 4em;">
      <button class="btn btn-danger btn-sm" id="delete-race">Delete Race</button>
    </div>
  {{/if}}
</template>